<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ username }}的博客</title>
    {% load static %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    {% block css %}

    {% endblock %}
</head>
<body>

<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand" href="/home">首页</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">随笔 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">文章</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">更过操作 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">提交</button>
                </form>
                <a class="navbar-brand" href="/{{ username }}">{{ blog_obj.title }}</a>
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        <li><a href="#">{{ request.user.username }}</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">更多操作 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/set_pwd">修改密码</a></li>
                                <li><a href="/edit_avatar">修改头像</a></li>
                                <li><a href="/black_home">后台管理</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout">注销</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="/login">登录</a></li>
                        <li><a href="/register">注册</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
        <div class="col-md-3">
            {% block left %}
                {% load mytag %}
                {% index username %}
            {% endblock %}
        </div>
        <div class="col-md-9">
            {% block centent %}
                {% for article in article_ls %}
                    <div class="media" style="background-color: #e6ffff">
                        <a href="/{{ article.blog.name }}/p/{{ article.pk }}"><h4
                                class="media-heading">{{ article.title }}</h4></a><br>
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" src="/media/{{ article.blog.user.avatar }}" width="80" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            {{ article.abstract }}
                        </div>
                        <br>
                        {#posted @ 2019-09-28 17:42 武沛齐 阅读 (1632) 评论 (2) 编辑#}
                        <div class="pull-right">
                            posted&nbsp;@&nbsp;{{ article.create_time|date:"Y年m月d日" }}&nbsp;{{ article.blog.user.username }}
                            &nbsp;评论（{{ article.comment_count }}）点赞数（{{ article.up_count }}）点踩数（{{ article.down_count }}）
                            <a href="#">编辑</a>
                        </div>
                        <br>
                        <br>

                    </div>
                {% endfor %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
{% block js %}

{% endblock %}
</html>